.imagenFondo {
    background-image: url("../img/imagen11.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.borde{
    border-radius: 50px;
    border: none;
    width: 50%;
    height: 50%;
    margin-top: 30px;
    margin-left: 30px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(red, green, blue, alpha);
    cursor: pointer;
    transition: all 400ms ease;
}
.borde:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.10);
    transform: translateY(-8%);
    filter:opacity(80%);
}
.img{
    transition: all 300ms;
    position: relative;
    transition: scale(1.55);
}
ion-icon{
    font-size: 30px;
    color: antiquewhite;
}
