#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footerSection{
    flex-grow: 1;
}
/* clases de inicio */
.fondo{
    height: 100%;
    background: url(./components/views/img/fondo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

.titulo{
    margin-bottom: 40px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgb(226, 216, 189);
}
.sau{
    padding: 30px;
    background: rgb(12, 12, 12);
}
.imgProduc{
cursor: pointer;
}
.imgProduc:hover{
    box-shadow: 5px 5px 20px rgba(172, 163, 163, 0.589);
    transform: translateY(-30%);
    filter:opacity(90%);
    transition: all 300ms;
}
.botonInicio{
    display: flex;
    
}